$lightgray:            #f5f5f5;
$gray:                 #ddd;
$blue:                 #1976D2;
$red:                  #c82333;

$primary-color:        #212529;
$accent-color:         #FFC107;
$primary-text:         #212121;
$divider-color:        #BDBDBD;