<template>
  <div class="d-flex justify-content-center my-5">
    <b-spinner variant="primary" label="Loading..."></b-spinner>
  </div>
</template>
<script>
export default {
  name: "Spinner"
};
</script>
