<template>
  <div class="mt-4">
    <!-- Display -->
    <section v-if="!editable">
      <h4>{{questionNo + 1}}. Compare intervals</h4>
      <b-button @click="play()" class="mb-3 play-btn" size="sm">
        <icon name="play-circle" scale="1.2"/>Play!
      </b-button>
      <p class="mt-3">Which interval is bigger?</p>
      <b-form-radio-group v-model="answer" :options="availableAnswers"></b-form-radio-group>
    </section>
    <!-- Edit -->
    <section v-if="editable" class="editable">
      <h4>{{questionNo + 1}}. Compare intervals</h4>
      <b-row class="mb-3">
        <b-col>
          <p>Root tone</p>
          <b-form-select v-model="rootTone" :options="availableTones"/>
        </b-col>
        <b-col>
          <p>First interval</p>
          <b-form-select v-model="firstDistance" :options="availableDistances"/>
        </b-col>
        <b-col>
          <p>Second interval</p>
          <b-form-select v-model="secondDistance" :options="availableDistances"/>
        </b-col>
        <b-col>
          <p>Move</p>
          <b-form-select v-model="selectedMove" :options="availableMoves"/>
        </b-col>
      </b-row>
      <b-button @click="play()" variant="primary" class="play-btn" size="sm">
        <icon name="play-circle" scale="1.2"/>Play!
      </b-button>
      <p class="mt-3">Which interval is bigger?</p>
      <b-form-radio-group :options="availableAnswers" v-model="correctAnswer" disabled></b-form-radio-group>
    </section>
  </div>
</template>

<script>
import scribble from "scribbletune";

export default {
  name: "Intervals",
  props: {
    questionNo: Number,
    questionId: Number,
    editable: Boolean,
    intervalsProp: String
  },
  data() {
    return {
      sampler: {},
      availableAnswers: [
        { value: "first", text: "First" },
        { value: "second", text: "Second" }
      ],
      rootTone: null,
      firstDistance: null,
      secondDistance: null,
      selectedMove: null,
      availableTones: [
        { value: null, text: "--Tone--" },
        { value: "c", text: "C" },
        { value: "c#", text: "C#" },
        { value: "d", text: "D" },
        { value: "d#", text: "D#" },
        { value: "e", text: "E" },
        { value: "f", text: "F" },
        { value: "f#", text: "F#" },
        { value: "g", text: "G" },
        { value: "g#", text: "G#" },
        { value: "a", text: "A" },
        { value: "a#", text: "A#" },
        { value: "b", text: "B" }
      ],
      availableDistances: [
        { value: null, text: "--Distance--" },
        { value: "unison", text: "Unison" },
        { value: "minor second", text: "Minor second" },
        { value: "major second", text: "Major second" },
        { value: "minor third", text: "Minor third" },
        { value: "major third", text: "Major third" },
        { value: "perfect fourth", text: "Perfect fourth" },
        {
          value: "augmented fourth / diminished fifth",
          text: "Augmented fourth / Diminished fifth"
        },
        { value: "perfect fifth", text: "Perfect fifth" },
        { value: "minor sixth", text: "Minor sixth" },
        { value: "major sixth", text: "Major sixth" },
        { value: "minor seventh", text: "Minor seventh" },
        { value: "major seventh", text: "Major seventh" },
        { value: "octave", text: "Octave" }
      ],
      availableMoves: [
        { value: null, text: "--Move--" },
        { value: "up", text: "Up" },
        { value: "down", text: "Down" }
      ],
      intervalSizeSemitones: [],
      tones: [],
      correctAnswer: "",
      answer: ""
    };
  },
  created() {
    this.sampler = new Tone.Sampler(
      {
        C1: "C1.mp3",
        C2: "C2.mp3",
        C3: "C3.mp3",
        C4: "C4.mp3",
        C5: "C5.mp3",
        C6: "C6.mp3"
      },
      {
        release: 1,
        baseUrl:
          "https://raw.githubusercontent.com/Tonejs/Tone.js/dev/examples/audio/salamander/"
      }
    ).toMaster();

    for (let i = 0; i < this.availableDistances.length; i++) {
      let element = this.availableDistances[i].value;
      if (element) this.intervalSizeSemitones.push(element);
    }

    for (let i = 0; i < this.availableTones.length; i++) {
      let element = this.availableTones[i].value;
      if (element) this.tones.push(element);
    }

    this.intervals = this.intervalsProp;
  },
  watch: {
    answer(newValue, oldValue) {
      this.$bus.$emit("qna", {
        questionNo: this.questionNo,
        questionId: this.questionId,
        answer: newValue
      });
    },
    intervals(newValue, oldValue) {
      this.emitChanges();
    }
  },
  computed: {
    intervals: {
      get: function() {
        var firstDistance = this.intervalSizeSemitones.indexOf(
          this.firstDistance
        );
        var secondDistance = this.intervalSizeSemitones.indexOf(
          this.secondDistance
        );
        this.correctAnswer =
          firstDistance > secondDistance
            ? "first"
            : firstDistance !== secondDistance
            ? "second"
            : null;

        let first = this.getSecondTone(firstDistance);
        let second = this.getSecondTone(secondDistance);

        return `${this.rootTone}3 ${first} ${second} ${this.selectedMove}`;
      },
      set: function(value) {
        if (this.editable && value) {
          let splittedValue = value
            .split(" ")
            .map(val => val.replace(/\d+/, ""));

          this.rootTone = splittedValue[0];
          this.firstDistance = this.intervalSizeSemitones[
            this.tones.indexOf(splittedValue[1])
          ];
          this.secondDistance = this.intervalSizeSemitones[
            this.tones.indexOf(splittedValue[2])
          ];
          this.selectedMove = splittedValue[3];
        }
      }
    }
  },
  methods: {
    getSecondTone(distance) {
      if (distance < 0) return;
      let rootToneIndex = this.tones.indexOf(this.rootTone);
      let dist = (rootToneIndex + distance) % this.tones.length;
      let secondTone = this.tones[dist];
      rootToneIndex + distance < this.tones.length
        ? (secondTone = secondTone + "3")
        : (secondTone = secondTone + "4");
      return secondTone;
    },
    emitChanges() {
      if (!this.editable) return;
      if (
        this.rootTone &&
        this.firstDistance &&
        this.secondDistance &&
        this.selectedMove &&
        this.correctAnswer
      )
        this.$bus.$emit("questionChange", {
          questionNo: this.questionNo,
          question: "Compare intervals",
          availableAnswers: this.intervals,
          correctAnswer: this.correctAnswer
        });
    },
    play(index) {
      if (
        this.editable &&
        (this.intervals.indexOf("null") > -1 ||
          this.intervals.indexOf("undefined") > -1 ||
          this.selectedMove === null)
      )
        return;

      let splittedArray = [];
      this.editable
        ? (splittedArray = this.intervals.split(" "))
        : (splittedArray = this.intervalsProp.split(" "));

      let intervalArray = [];
      splittedArray[3] === "up"
        ? (intervalArray = [
            splittedArray[0],
            splittedArray[1],
            splittedArray[0],
            splittedArray[2]
          ])
        : (intervalArray = [
            splittedArray[1],
            splittedArray[0],
            splittedArray[2],
            splittedArray[0]
          ]);

      let i = index || 0;
      let note = intervalArray[i];

      this.sampler.triggerAttackRelease(note, "8n");
      if (++i < 4)
        i !== 2
          ? setTimeout(this.play, 500, i)
          : setTimeout(this.play, 1000, i);
    }
  }
};
</script>

<style lang="scss" scoped>
.play-btn {
  display: flex;
  svg {
    margin: auto;
    margin-right: 0.5rem;
  }
}

.editable {
  .add-delete-btn {
    padding: 0;
    svg {
      transition: color 0.15s ease-in-out;
    }

    &:hover {
      svg {
        color: currentColor !important;
      }
    }

    &.disabled {
      cursor: not-allowed;
    }
  }
}
</style>
