<template>
  <div class="mt-4">
    <!-- Display -->
    <section v-if="!editable">
      <h4>{{questionNo + 1}}. Recognize the scale</h4>
      <b-button @click="play()" class="mb-3 play-btn" size="sm">
        <icon name="play-circle" scale="1.2"/>Play!
      </b-button>
      <p class="mt-3">Which scale is it?</p>
      <b-form-radio-group v-for="(ans, index) in availableAnswers" :key="index" v-model="answer">
        <b-form-radio :value="ans">{{ans}}</b-form-radio>
      </b-form-radio-group>
    </section>
    <!-- Edit -->
    <section v-if="editable" class="editable">
      <h4>{{questionNo + 1}}. Recognize the scale</h4>
      <b-row class="mb-3">
        <b-col>
          <p>Tone</p>
          <b-form-select v-model="selectedTone" :options="availableTones"/>
        </b-col>
        <b-col>
          <p>Octave</p>
          <b-form-select v-model="selectedOctave" :options="availableOctaves"/>
        </b-col>
        <b-col>
          <p>Scale</p>
          <b-form-select v-model="selectedScale" :options="availableScales"/>
        </b-col>
        <b-col>
          <p>Move</p>
          <b-form-select v-model="selectedMove" :options="availableMoves"/>
        </b-col>
      </b-row>
      <b-button @click="play()" variant="primary" class="play-btn" size="sm">
        <icon name="play-circle" scale="1.2"/>Play!
      </b-button>
      <p class="mt-3">Choose available choices</p>
      <div class="radio-group mt-3">
        <b-row v-for="(ans, index) in aavailableAnswers" :key="index">
          <b-col cols="11">
            <input type="radio" :value="ans" disabled :checked="ans === selectedScale">
            <label :for="ans" v-text="ans"></label>
          </b-col>
          <b-col cols="1" class="p-0">
            <span
              class="btn add-delete-btn"
              :class="{'disabled': ans === selectedScale}"
              @click="deleteAnswer(ans)"
            >
              <icon class="text-danger" name="times" scale="1.5"></icon>
            </span>
          </b-col>
        </b-row>
      </div>
      <b-row class="align-items-center">
        <b-col cols="11">
          <b-form-select v-model="newAnswer" :options="availableScales"/>
        </b-col>
        <b-col cols="1" class="p-0">
          <span class="btn add-delete-btn pv-3" @click="addNewAnswer()">
            <icon class="text-success" name="plus" scale="1.5"></icon>
          </span>
        </b-col>
      </b-row>
    </section>
  </div>
</template>

<script>
import scribble from "scribbletune";

export default {
  name: "Scales",
  props: {
    questionNo: Number,
    questionId: Number,
    editable: Boolean,
    availableAnswers: {
      type: Array
    },
    scaleProp: String
  },
  data() {
    return {
      sampler: {},
      newAnswer: null,
      aavailableAnswers: this.availableAnswers || [],
      selectedTone: null,
      selectedOctave: null,
      selectedScale: null,
      selectedMove: null,
      availableTones: [
        { value: null, text: "--Tone--" },
        { value: "c", text: "C" },
        { value: "c#", text: "C#" },
        { value: "d", text: "D" },
        { value: "d#", text: "D#" },
        { value: "e", text: "E" },
        { value: "f", text: "F" },
        { value: "f#", text: "F#" },
        { value: "g", text: "G" },
        { value: "g#", text: "G#" },
        { value: "a", text: "A" },
        { value: "a#", text: "A#" },
        { value: "b", text: "B" }
      ],
      availableOctaves: [
        { value: null, text: "--Octave--" },
        "1",
        "2",
        "3",
        "4",
        "5",
        "6"
      ],
      availableScales: (function() {
        let scale = scribble.scales();
        scale.unshift({ value: null, text: "--Scale--" });
        return scale;
      })(),
      availableMoves: [
        { value: null, text: "--Move--" },
        { value: "up", text: "Up" },
        { value: "down", text: "Down" }
      ],
      answer: ""
    };
  },
  created() {
    this.sampler = new Tone.Sampler(
      {
        C1: "C1.mp3",
        C2: "C2.mp3",
        C3: "C3.mp3",
        C4: "C4.mp3",
        C5: "C5.mp3",
        C6: "C6.mp3"
      },
      {
        release: 1,
        baseUrl:
          "https://raw.githubusercontent.com/Tonejs/Tone.js/dev/examples/audio/salamander/"
      }
    ).toMaster();

    if (this.scaleProp) this.scale = this.scaleProp;
  },
  watch: {
    selectedScale(newValue, oldValue) {
      if (!this.editable || this.aavailableAnswers.indexOf(newValue) > -1)
        return;
      let index = this.aavailableAnswers.indexOf(oldValue);
      index < 0
        ? this.aavailableAnswers.push(newValue)
        : (this.aavailableAnswers[index] = newValue);
    },
    scale(newValue, oldValue) {
      this.emitChanges();
    },
    answer(newValue, oldValue) {
      this.$bus.$emit("qna", {
        questionNo: this.questionNo,
        questionId: this.questionId,
        answer: newValue
      });
    }
  },
  computed: {
    scale: {
      get: function() {
        return `${this.selectedTone}${this.selectedOctave} ${
          this.selectedScale
        }`;
      },
      set: function(value) {
        let splittedValue = value.split(" ");

        this.selectedTone = splittedValue[0].replace(/\d+/, "");
        this.selectedOctave = splittedValue[0].match(/\d+/)[0];
        this.selectedMove = splittedValue[splittedValue.length - 1];

        this.selectedScale = splittedValue
          .filter(v => {
            return (
              v !== splittedValue[0] &&
              v !== splittedValue[splittedValue.length - 1]
            );
          })
          .join(" ");
      }
    },
    scaleArray: function() {
      return this.selectedMove === "up"
        ? scribble
            .scale(this.scale)
            .concat(
              this.selectedTone + (parseInt(this.selectedOctave) + 1).toString()
            )
        : scribble
            .scale(this.scale)
            .concat(
              this.selectedTone + (parseInt(this.selectedOctave) + 1).toString()
            )
            .reverse();
    }
  },
  methods: {
    addNewAnswer() {
      if (this.newAnswer) {
        this.aavailableAnswers.push(this.newAnswer);
        this.emitChanges();
        this.newAnswer = null;
      }
    },
    deleteAnswer(ans) {
      if (ans === this.selectedScale) return;
      this.aavailableAnswers.splice(this.aavailableAnswers.indexOf(ans), 1);
      this.emitChanges();
    },
    emitChanges() {
      if (!this.editable) return;
      if (
        this.selectedTone &&
        this.selectedOctave &&
        this.selectedScale &&
        this.selectedMove
      )
        this.$bus.$emit("questionChange", {
          questionNo: this.questionNo,
          question: "Recognize the scale",
          availableAnswers: this.aavailableAnswers,
          correctAnswer: `${this.scale} ${this.selectedMove}`
        });
    },
    play(index) {
      let i = index || 0;
      let note = this.scaleArray[i];
      this.sampler.triggerAttackRelease(note, "8n");
      if (++i < this.scaleArray.length) setTimeout(this.play, 500, i);
    }
  }
};
</script>

<style lang="scss" scoped>
.play-btn {
  display: flex;
  svg {
    margin: auto;
    margin-right: 0.5rem;
  }
}

.editable {
  .add-delete-btn {
    padding: 0;
    svg {
      transition: color 0.15s ease-in-out;
    }

    &:hover {
      svg {
        color: currentColor !important;
      }
    }

    &.disabled {
      cursor: not-allowed;
    }
  }
}
</style>
