<template>
  <div class="container mt-3 admin">
    <h3>Users and roles</h3>
    <Spinner v-if="loading"/>
    <div v-else>
      <section class="stats">
        <b-row>
          <b-col>
            <div class="stat">
              <Avatar permissionId="3" size="3"/>
              <p>Students:</p>
              <h4>{{studentsNo}}</h4>
            </div>
          </b-col>
          <b-col>
            <div class="stat">
              <Avatar permissionId="2" size="3"/>
              <p>Teachers:</p>
              <h4>{{teachersNo}}</h4>
            </div>
          </b-col>
          <b-col>
            <div class="stat">
              <Avatar permissionId="1" size="3"/>
              <p>Administrators:</p>
              <h4>{{adminsNo}}</h4>
            </div>
          </b-col>
          <b-col>
            <div class="stat">
              <Avatar permissionId="1" size="2"/>
              <Avatar permissionId="3" size="3"/>
              <Avatar permissionId="2" size="2"/>
              <p>Total:</p>
              <h4>{{users.length}}</h4>
            </div>
          </b-col>
        </b-row>
      </section>
      <b-input-group class="search mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <icon name="search"/>
          </span>
        </div>
        <b-input v-debounce:500ms="search" type="text" placeholder="Search for users"/>
      </b-input-group>
      <Spinner v-if="loading"/>
      <Placeholder v-else-if="!filteredUsers" message="No users" icon="users" class="m-4"/>
      <b-table v-else outlined hover :items="filteredUsers" :fields="userFields">
        <template slot="Name" slot-scope="data">{{data.item.FirstName}} {{data.item.LastName}}</template>
        <template slot="Role" slot-scope="data">
          <b-form-select v-model="data.item.PermissionId" :options="availableRoles"/>
        </template>
      </b-table>
      <b-button
        class="save-button"
        v-b-modal.saveChangesModal
        v-b-tooltip.hover="'Save changes'"
        variant="primary"
      >
        <icon name="save" scale="1.8"></icon>
      </b-button>
      <b-modal id="saveChangesModal" title="Save changes" @ok="saveChanges">
        <p class="my-4">Do you want to save changes?</p>
      </b-modal>
    </div>
  </div>
</template>

<script>
import Spinner from "./spinners/Spinner.vue";
import Placeholder from "./placeholders/Placeholder.vue";
import Avatar from "./Avatar.vue";

export default {
  name: "Admin",
  components: { Spinner, Avatar, Placeholder },
  data() {
    return {
      users: null,
      adminsNo: null,
      teachersNo: null,
      studentsNo: null,
      filteredUsers: null,
      userFields: [
        {
          key: "Name",
          sortable: true
        },
        {
          key: "Role",
          sortable: true
        }
      ],
      availableRoles: [
        {
          value: 1,
          text: "Admin"
        },
        {
          value: 2,
          text: "Teacher"
        },
        {
          value: 3,
          text: "Student"
        }
      ],
      selectedRole: false,
      loading: true
    };
  },
  created() {
    this.getData();
  },
  methods: {
    getData() {
      this.$http.get("usersRoles").then(res => {
        this.users = this.filteredUsers = res.data;
        this.adminsNo = this.users.filter(u => u.PermissionId === 1).length;
        this.teachersNo = this.users.filter(u => u.PermissionId === 2).length;
        this.studentsNo = this.users.filter(u => u.PermissionId === 3).length;
        this.loading = false;
      });
    },
    saveChanges() {
      const userPermissionArray = this.users.map(user => ({
        Id: user.Id,
        PermissionId: user.PermissionId
      }));
      this.$http
        .post("usersRoles", userPermissionArray)
        .then(this.$router.push("/forms"));
    },
    search(searchValue) {
      const searchRegex = new RegExp(searchValue, "i");
      this.filteredUsers = this.users.filter(
        user =>
          !searchValue ||
          searchRegex.test(user.FirstName) ||
          searchRegex.test(user.LastName)
      );
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/index.scss";

.stats {
  .stat {
    border: solid 1px $gray;
    border-radius: 3px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;

    p {
      margin: 0.5rem 0 1rem 0;
    }
  }
}

.save-button {
  position: fixed;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  left: 2rem;
  bottom: 2rem;
}
</style>
