<template>
  <b-img
    class="avatar"
    rounded="circle"
    :style="{ 'background-image': `url(${roleAvatars[permissionId - 1].avatar})`,
    'width': `${size}rem`,
    'height':`${size}rem` }"
  />
</template>

<script>
import Spinner from "./spinners/Spinner.vue";

export default {
  name: "Avatar",
  components: { Spinner },
  props: {
    permissionId: String,
    size: String
  },
  data() {
    return {
      roleAvatars: [
        {
          role: "admin",
          permission: 1,
          avatar: require("../assets/admin.png")
        },
        {
          role: "teacher",
          permission: 2,
          avatar: require("../assets/teacher.png")
        },
        {
          role: "student",
          permission: 3,
          avatar: require("../assets/student.png")
        }
      ]
    };
  }
};
</script>

 <style lang="scss" scoped>
@import "../styles/index.scss";

.avatar {
  background-position: top;
  background-size: cover;
  background-color: $lightgray;
}
</style>
