<template>
  <div class="form">
    <div class="container col-sm-9 col-lg-6 my-3 p-5">
      <Spinner v-if="loading"/>
      <div v-else>
        <h3 class="m-0">{{form.Title}}</h3>
        <div v-for="question in form.Questions">
          <SingleChoice
            v-if="question.ContentBlockId == 1"
            :questionNo="form.Questions.indexOf(question)"
            :questionId="question.Id"
            :question="question.QuestionText"
            :availableAnswers="question.AvailableAnswers.split(';')"
            :editable="false"
          />
          <MultipleChoice
            v-if="question.ContentBlockId == 2"
            :questionNo="form.Questions.indexOf(question)"
            :questionId="question.Id"
            :question="question.QuestionText"
            :availableAnswers="question.AvailableAnswers.split(';')"
            :editable="false"
          />
          <Scales
            v-if="question.ContentBlockId == 3"
            :questionNo="form.Questions.indexOf(question)"
            :questionId="question.Id"
            :availableAnswers="question.AvailableAnswers.split(';')"
            :scaleProp="question.CorrectAnswer"
            :editable="false"
          />
          <Intervals
            v-if="question.ContentBlockId == 4"
            :questionNo="form.Questions.indexOf(question)"
            :questionId="question.Id"
            :intervalsProp="question.AvailableAnswers"
            :editable="false"
          />
        </div>
        <div class="mt-4 text-right">
          <b-button @click="submit()" variant="primary">Submit</b-button>
        </div>
      </div>

      <b-modal ref="scoreModal" title="Congratulations!" centered ok-only @hide="hideModal">
        <h4 class="text-center">Your score:</h4>
        <h3 class="text-center pb-3">{{score}}/{{form.Questions ? form.Questions.length : 0}}</h3>
        <div class="my-2" v-for="(qna, index) in qnas" :key="qna.questionId">
          <div>{{`${index + 1}. ${qna.questionText}`}}</div>
          <div class="pl-3" v-if="qna.isCorrect">
            <div v-for="answer in qna.answer" class="text-success">
              <div>{{answer}}</div>
            </div>
          </div>
          <div class="pl-3" v-if="!qna.isCorrect">
            <div v-for="answer in qna.answer" class="text-danger">
              <div>{{answer || 'No answer'}}</div>
            </div>
            <div v-for="answer in qna.correctAnswer" class="text-success">
              <div>{{answer}}</div>
            </div>
          </div>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
import SingleChoice from "./blocks/basic/SingleChoice.vue";
import MultipleChoice from "./blocks/basic/MultipleChoice.vue";
import Scales from "./blocks/musical/Scales.vue";
import Intervals from "./blocks/musical/Intervals.vue";
import Spinner from "./spinners/Spinner.vue";

export default {
  name: "DisplayForm",
  components: { SingleChoice, MultipleChoice, Scales, Intervals, Spinner },
  data() {
    return {
      id: "",
      form: {},
      qnas: [],
      score: "",
      loading: true
    };
  },
  created() {
    this.id = this.$route.params.id;
    this.$http.get("forms/" + this.id).then(res => {
      this.form = res.data;
      this.qnas = this.form.Questions.map(q => ({
        questionId: q.Id,
        answer: ""
      }));

      this.loading = false;
    });

    this.$bus.$on("qna", this.updateQnas);
  },
  methods: {
    updateQnas(value) {
      this.qnas[value.questionNo].questionId = value.questionId;
      if (value.answer && value.answer.constructor === Array)
        this.qnas[value.questionNo].answer = value.answer.join(";");
      else this.qnas[value.questionNo].answer = value.answer;
    },
    submit() {
      let queAns = JSON.parse(JSON.stringify(this.qnas));
      this.$http
        .post("submitForm", {
          FormId: this.form.Id,
          UserId: window.user.Id,
          QuestionAnswerList: queAns
        })
        .then(res => {
          this.score = res.data;
          for (let qna of this.qnas) {
            let question = this.form.Questions.find(
              q => q.Id == qna.questionId
            );
            qna.questionText = question.QuestionText;
            qna.correctAnswer = question.CorrectAnswer.split(";");
            qna.answer = qna.answer.split(";");

            qna.isCorrect = this.isGivenAnswerCorrect(
              qna.answer,
              qna.correctAnswer
            );
          }

          this.$refs.scoreModal.show();
        });
    },
    isGivenAnswerCorrect(givenAnswer, correctAnswer) {
      if (correctAnswer.length === givenAnswer.length) {
        const givenScale = givenAnswer[0];
        const correctScaleArray = correctAnswer[0].split(" ");
        if (
          correctScaleArray.length === 3 &&
          givenScale === correctScaleArray[1]
        )
          return true;
        else {
          const correctSorted = correctAnswer.sort();
          const givenSorted = givenAnswer.sort();
          for (let i = 0; i < givenSorted.length; i++) {
            if (correctSorted[i] !== givenSorted[i]) return false;
          }
          return true;
        }
      }

      return false;
    },
    hideModal(ev) {
      this.$router.push("/forms");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/index.scss";

.form {
  background-color: $lightgray;
  min-height: calc(100vh - 3.5rem);
  padding: 2rem 0;

  .container {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid $primary-color;

    h3 {
      border-bottom: solid 1px $divider-color;
      margin-bottom: 1.5rem;
    }
  }
}
</style>
