<template>
  <div class="container">
    <section>
      <b-row class="mb-3">
        <b-col md="6">
          <h2 class="mb-0">{{group.Name}}</h2>
        </b-col>
        <b-col md="6" v-if="permission < 3" class="d-flex">
          <b-col md="8">
            <b-input-group>
              <b-form-input :value="group.Id" disabled/>
              <b-input-group-append>
                <b-button id="copyButton" variant="secondary" @click="copyToClipboard()">
                  <icon name="clone"></icon>
                </b-button>
                <b-tooltip
                  ref="copyTooltip"
                  target="copyButton"
                >{{copied ? 'Copied' : 'Copy to clipboard'}}</b-tooltip>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col md="4">
            <b-button variant="primary" @click="exportGradesToExcel()">Export to Excel</b-button>
          </b-col>
        </b-col>
      </b-row>
      <Spinner v-if="loadingStudents"/>
      <div v-else>
        <Placeholder v-if="!students.length" message="No students" icon="users"/>
        <b-table v-else outlined hover :items="students" :fields="studentsFields" ref="table">
          <template
            slot="Student"
            slot-scope="data"
          >{{ data.item.FirstName }} {{ data.item.LastName }}</template>
          <template slot="grades" slot-scope="data">
            <span v-for="grade in data.value">{{ grade.StudentsPoints }}/{{ grade.MaxPoints }}&nbsp;</span>
          </template>
          <template slot="total" slot-scope="data">{{data.value}}</template>
          <template slot="action" slot-scope="data">
            <b-button
              variant="primary"
              class="action-button"
              size="sm"
              @click="showProfile(data.item.Id)"
            >
              <icon name="user-circle" scale="1.3"></icon>&nbsp;Show profile
            </b-button>
            <b-button
              variant="danger"
              class="action-button"
              size="sm"
              @click="removeStudent(data.item.Id)"
              v-if="permission < 3"
            >
              <icon name="times" scale="1.3"></icon>&nbsp;Remove
            </b-button>
          </template>
        </b-table>
        <b-button v-if="permission < 3" v-b-modal.addStudentModal variant="primary">Add student</b-button>
        <b-modal id="addStudentModal" title="Add student" @ok="addStudent">
          <b-form-group label="Select student">
            <b-form-select v-model="selectedStudentId" :options="availableStudents"/>
          </b-form-group>
        </b-modal>
      </div>
    </section>
    <section>
      <h3>Forms</h3>
      <Spinner v-if="loadingForms"/>
      <div v-else>
        <Placeholder v-if="!forms.length" message="No forms" icon="file"/>
        <b-table v-else outlined hover :items="forms" :fields="formsFields">
          <template slot="Type" slot-scope="data">{{ data.item.FormTypeId | formTypeIdName }}</template>
          <template
            slot="AvailableFrom"
            slot-scope="data"
          >{{ data.item.AvailableFrom | formatDate }}</template>
          <template slot="AvailableTo" slot-scope="data">{{ data.item.AvailableTo | formatDate }}</template>
          <template slot="action" slot-scope="data">
            <div v-if="permission == 3">
              <b-button
                variant="primary"
                class="action-button"
                size="sm"
                @click="displayForm(data.item.Id)"
                v-if="data.item.status === status.AVAILABLE && !data.item.IsSubmitted"
              >
                <icon name="edit" scale="1.3"></icon>&nbsp;Fill the form
              </b-button>
              <b
                v-if="data.item.status === status.AVAILABLE && data.item.IsSubmitted"
                class="d-flex align-items-center"
              >
                <icon name="check" scale="1.5" class="text-success"></icon>&nbsp;Submitted
              </b>
              <b-button
                variant="primary"
                class="action-button"
                size="sm"
                @click="goToFormStats(data.item.Id)"
                v-if="data.item.status === status.CLOSED"
              >
                <icon name="pie-chart" scale="1.3"></icon>&nbsp;Show statistics
              </b-button>
              <b-button
                variant="primary"
                class="action-button"
                size="sm"
                @click="displayForm(data.item.Id)"
                v-if="data.item.status === status.NOTAVAILABLE"
                disabled
              >
                <icon name="edit" scale="1.3"></icon>&nbsp;Fill the form
              </b-button>
            </div>
            <div v-else>
              <b-button
                variant="primary"
                class="action-button"
                size="sm"
                @click="displayForm(data.item.Id)"
              >
                <icon name="edit" scale="1.3"></icon>&nbsp;Display
              </b-button>
              <b-button
                variant="primary"
                class="action-button"
                size="sm"
                @click="goToFormStats(data.item.Id)"
              >
                <icon name="pie-chart" scale="1.3"></icon>&nbsp;Show statistics
              </b-button>
              <b-button
                variant="secondary"
                class="action-button"
                size="sm"
                @click="editForm(data.item.Id)"
              >
                <icon name="pencil" scale="1.3"></icon>
              </b-button>
              <b-button
                variant="danger"
                class="action-button"
                size="sm"
                @click="deleteForm(data.item.Id)"
              >
                <icon name="times" scale="1.3"></icon>
              </b-button>
            </div>
          </template>
        </b-table>
        <b-button v-if="permission < 3" v-b-modal.createFormModal variant="primary">Add form</b-button>
        <b-modal id="createFormModal" title="Create new form" @ok="createForm">
          <b-form-group label="Form name:">
            <b-form-input v-model="formTitle" type="text" placeholder="Enter form title" required></b-form-input>
          </b-form-group>
          <b-form-group label="Form type:">
            <b-form-radio-group v-model="formTypeId" :options="formTypeOptions" stacked required></b-form-radio-group>
          </b-form-group>
        </b-modal>
      </div>
    </section>
    <section>
      <h3>Percentage of correct answers given by students in every quiz</h3>
      <Spinner v-if="loadingForms || loadingStudents"/>
      <Placeholder
        v-else-if="!students.length || !forms.length"
        message="No statistics"
        icon="bar-chart"
      />
      <BarChart v-else :chartdata="getFormsStats()" class="chart" :key="id"/>
    </section>
  </div>
</template>

<script>
import BarChart from "./charts/BarChart.vue";
import Placeholder from "./placeholders/Placeholder.vue";
import Spinner from "./spinners/Spinner.vue";

export default {
  name: "DisplayGroup",
  components: { BarChart, Placeholder, Spinner },
  data() {
    return {
      id: "",
      group: { name: "" },
      forms: null,
      formTitle: null,
      formTypeId: "",
      formTypeOptions: [
        { text: "Quiz", value: 1 },
        { text: "Survey", value: 2 }
      ],
      students: null,
      studentsFields: [
        {
          key: "Student",
          sortable: true
        },
        "Email",
        "grades",
        {
          key: "total",
          sortable: true
        },
        "action"
      ],
      formsFields: [
        {
          key: "Title",
          sortable: true
        },
        {
          key: "Type",
          sortable: true
        },
        {
          key: "AvailableFrom",
          sortable: true
        },
        {
          key: "AvailableTo",
          sortable: true
        },
        "action"
      ],
      permission: null,
      selectedStudentId: null,
      availableStudents: [
        {
          value: null,
          text: "Select student"
        }
      ],
      copied: false,
      chartData: {
        labels: [],
        datasets: []
      },
      loadingStudents: true,
      loadingForms: true,
      status: {
        AVAILABLE: "available",
        NOTAVAILABLE: "notAvailable",
        CLOSED: "closed"
      }
    };
  },
  created() {
    this.permission = window.user.PermissionId;
    this.userId = window.user.Id;
    this.groupId = this.$route.params.id;

    this.$http.get("/groups/" + this.groupId).then(res => {
      this.group = res.data;
    });

    this.getStudents();
    this.getForms();
  },
  methods: {
    async getStudents() {
      try {
        const students = await this.$http
          .get("/getStudentsByGroup?groupId=" + this.groupId)
          .then(res => res.data);

        this.getStudentsNotInGroup(students);

        if (students.length === 0) {
          this.students = [];
          this.loadingStudents = false;
          return [];
        }

        const studentsWithGrades = await this.addGrades(students);
        this.students = studentsWithGrades;
        this.loadingStudents = false;
      } catch (err) {
        console.error(err);
        this.students = [];
      }
    },

    async getStudentsNotInGroup(students) {
      const users = await this.$http.get("/users").then(res => res.data);

      this.availableStudents = [
        {
          value: null,
          text: "Select student"
        },
        ...users
          .filter(
            user =>
              !students.some(student => user.Id === student.Id) &&
              user.PermissionId === 3
          )
          .map(user => ({
            text: `${user.FirstName} ${user.LastName}`,
            value: user.Id
          }))
      ];
    },

    async addGrades(students) {
      try {
        const userGrades = await this.$http
          .get(`/usersGradesFromGroup?groupId=${this.groupId}`)
          .then(res => res.data);

        for (const student of students) {
          student.grades = userGrades[student.Id];

          if (student.grades.length > 0) {
            let points = student.grades.reduce(
              (acc, curr) => {
                return {
                  StudentsPoints: acc.StudentsPoints + curr.StudentsPoints,
                  MaxPoints: acc.MaxPoints + curr.MaxPoints
                };
              },
              { StudentsPoints: 0, MaxPoints: 0 }
            );

            student.total =
              this.getGradesPercent(points.StudentsPoints, points.MaxPoints) +
              "%";
          } else student.total = "";
        }

        return students;
      } catch (err) {
        console.error(err);
        return students;
      }
    },

    getGradesPercent(total, max) {
      const percent = (parseInt(total) / parseInt(max)) * 100;
      return percent % 1 == 0
        ? percent.toString()
        : percent.toFixed(2).toString();
    },

    getForms() {
      this.$http
        .get(`/formsByGroup?groupId=${this.groupId}&userId=${this.userId}`)
        .then(res => {
          this.forms = res.data.map(f =>
            Object.assign(f, {
              status: this.isFormAvailable(f)
                ? this.status.AVAILABLE
                : this.isFormClosed(f)
                ? this.status.CLOSED
                : this.status.NOTAVAILABLE
            })
          );

          this.loadingForms = false;
        });
    },

    getFormsStats() {
      const labels = this.students.map(s => `${s.FirstName} ${s.LastName}`);
      const datasets = [];

      for (const form of this.forms.filter(f => f.FormTypeId !== 2)) {
        const dataset = {};
        dataset.label = form.Title;
        dataset.data = this.students.map(s => {
          let formGrade = s.grades.find(g => g.FormId === form.Id);
          return this.getGradesPercent(
            formGrade.StudentsPoints,
            formGrade.MaxPoints
          );
        });
        datasets.push(dataset);
      }

      return { labels, datasets: datasets };
    },

    goToFormStats(id) {
      this.$router.push("/formStats/" + id);
    },

    createForm() {
      if (this.permission >= 3) return;
      this.$http
        .post("createForm", {
          formTitle: this.formTitle,
          formTypeId: this.formTypeId,
          userId: this.userId,
          groupId: this.groupId
        })
        .then(res => {
          this.$router.push("/edit/" + res.data.Id);
        });
    },

    displayForm(id) {
      this.$router.replace("/display/" + id);
    },

    editForm(id) {
      if (this.permission >= 3) return;
      this.$router.push("/edit/" + id);
    },

    deleteForm(id) {
      if (this.permission >= 3) return;
      this.$http.delete("forms/" + id).then(() => {
        this.getForms();
        this.getStudents();
      });
    },

    addStudent() {
      if (this.permission >= 3 || !this.selectedStudentId) return;
      this.$http
        .post("/addStudentToGroup", {
          groupId: this.groupId,
          studentId: this.selectedStudentId
        })
        .then(() => {
          this.getStudents();
          this.selectedStudentId = null;
        });
    },

    showProfile(id) {
      this.$router.push("/profile/" + id);
    },

    removeStudent(studentId) {
      if (this.permission >= 3) return;
      this.$http
        .post("/removeStudentFromGroup", {
          groupId: this.groupId,
          studentId: studentId
        })
        .then(() => {
          this.getStudents();
          this.selectedStudentId = null;
        });
    },

    isFormAvailable(form) {
      var dateNow = new Date().toJSON().slice(0, 16);
      var dateFrom = form.AvailableFrom
        ? new Date(form.AvailableFrom).toJSON().slice(0, 16)
        : dateNow;
      var dateTo = form.AvailableTo
        ? new Date(form.AvailableTo).toJSON().slice(0, 16)
        : dateNow;

      if (dateFrom <= dateNow && dateTo >= dateNow) {
        return true;
      }
      return false;
    },

    isFormClosed(form) {
      var dateNow = new Date().toJSON().slice(0, 16);

      var dateTo = form.AvailableTo
        ? new Date(form.AvailableTo).toJSON().slice(0, 16)
        : dateNow;

      if (dateTo < dateNow) {
        return true;
      }
      return false;
    },

    copyToClipboard() {
      if (this.permission >= 3) return;
      const el = document.createElement("textarea");
      el.value = this.group.Id;
      document.body.appendChild(el);
      el.select();
      document.execCommand("copy");
      document.body.removeChild(el);
      this.copied = true;
    },

    exportGradesToExcel() {
      if (this.permission >= 3) return;
      this.$http
        .get("groupsGradesExcel?groupId=" + this.groupId, {
          responseType: "blob"
        })
        .then(res => {
          const url = window.URL.createObjectURL(new Blob([res.data]));
          const link = document.createElement("a");
          const filename = `${this.group.Name.trim()
            .replace(" ", "-")
            .toLowerCase()}-grades.xlsx`;
          link.href = url;
          link.setAttribute("download", filename);
          document.body.appendChild(link);
          link.click();
        });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/index.scss";

.action-button {
  display: inline-flex;
  align-items: center;
}

section {
  margin: 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid $divider-color;
  &:last-of-type {
    border-bottom: 0;
  }
}

.chart {
  background-color: lighten($primary-color, 10%);
  border-radius: 1rem;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}
</style>