<template>
  <div class="flex-layout">
    <!-- LEFT PANEL -->
    <div class="column left-side">
      <div class="sidebar d-flex flex-column justify-content-between" ref="sidebar">
        <div class="blocks">
          <small class="px-2">BLOCKS</small>
          <b-list-group class="blocks-group px-2">
            <draggable v-model="availableBlocks" :options="blocksInPanelOptions" :clone="onClone">
              <div v-for="block in availableBlocks">
                <b-list-group-item
                  v-if="block.ContentBlockId == 1"
                  class="btn btn-outline-secondary block my-2"
                  v-b-tooltip.hover.right="'Single choice'"
                >
                  <icon name="dot-circle-o" scale="2"></icon>
                </b-list-group-item>
                <b-list-group-item
                  v-if="block.ContentBlockId == 2"
                  class="btn btn-outline-secondary block my-2"
                  v-b-tooltip.hover.right="'Multiple choice'"
                >
                  <icon name="check-square" scale="2"></icon>
                </b-list-group-item>
                <b-list-group-item
                  v-if="block.ContentBlockId == 3"
                  class="btn btn-outline-secondary block my-2"
                  v-b-tooltip.hover.right="'Scales'"
                >
                  <icon name="music" scale="2"></icon>
                </b-list-group-item>
                <b-list-group-item
                  v-if="block.ContentBlockId == 4"
                  class="btn btn-outline-secondary block my-2"
                  v-b-tooltip.hover.right="'Intervals'"
                >
                  <icon name="music" scale="2"></icon>
                </b-list-group-item>
              </div>
            </draggable>
          </b-list-group>
        </div>
        <b-list-group class="action-buttons-group px-2">
          <div
            class="btn action-button settings"
            v-b-tooltip.hover="'Settings'"
            @click="showPanel = !showPanel"
          >
            <icon name="cog" scale="2"></icon>
          </div>
          <div class="btn action-button save" v-b-tooltip.hover="'Save changes'" @click="save()">
            <icon name="save" scale="2"></icon>
          </div>
        </b-list-group>
      </div>
    </div>
    <!-- END OF LEFT PANEL -->
    <div class="column right-side">
      <div class="form">
        <div class="container col-sm-9 col-xl-6 my-3 p-5">
          <Spinner v-if="loading"/>
          <div v-else>
            <h3 class="m-0">{{form.Title}}</h3>
            <draggable v-model="form.Questions" :options="blocksInFormOptions" class="blocks">
              <div v-for="(question, index) in form.Questions" :key="question.Id" class="block">
                <div class="block-options">
                  <div class="btn block-move-handle">
                    <icon name="arrows-v" scale="1.5"></icon>
                  </div>
                  <div
                    class="btn block-remove text-danger"
                    @click="removeBlock(index)"
                    v-b-tooltip.hover="'Click to remove this block'"
                  >
                    <icon name="times" scale="1.5"></icon>
                  </div>
                </div>
                <SingleChoice
                  v-if="question.ContentBlockId == 1"
                  :questionNo="index"
                  :question="question.QuestionText"
                  :availableAnswers="splitBySemicolon(question.AvailableAnswers)"
                  :editable="true"
                  :correctAnswer="question.CorrectAnswer"
                />
                <MultipleChoice
                  v-if="question.ContentBlockId == 2"
                  :questionNo="index"
                  :question="question.QuestionText"
                  :availableAnswers="splitBySemicolon(question.AvailableAnswers)"
                  :editable="true"
                  :correctAnswer="splitBySemicolon(question.CorrectAnswer)"
                />
                <Scales
                  v-if="question.ContentBlockId == 3"
                  :questionNo="index"
                  :availableAnswers="splitBySemicolon(question.AvailableAnswers)"
                  :editable="true"
                  :correctAnswer="splitBySemicolon(question.CorrectAnswer)"
                  :scaleProp="question.CorrectAnswer"
                />
                <Intervals
                  v-if="question.ContentBlockId == 4"
                  :questionNo="index"
                  :editable="true"
                  :correctAnswer="question.CorrectAnswer"
                  :intervalsProp="question.AvailableAnswers"
                />
              </div>
            </draggable>
          </div>
        </div>
      </div>
    </div>

    <!-- RIGHT PANEL -->
    <section id="settingsPanel" :class="{'show':showPanel}" class="p-4" v-click-outside="hidePanel">
      <h3>Settings</h3>
      <b-form>
        <b-form-group label="Form title">
          <b-form-input type="text" v-model="form.Title" placeholder="Enter form title"></b-form-input>
        </b-form-group>
        <b-form-group label="Form available from:">
          <date-picker
            v-model="form.AvailableFrom"
            placeholder="Enter date"
            :config="datePickerOptions"
          ></date-picker>
        </b-form-group>
        <b-form-group label="Form available to:">
          <date-picker
            v-model="form.AvailableTo"
            placeholder="Enter date"
            :config="datePickerOptions"
          ></date-picker>
        </b-form-group>
      </b-form>
    </section>

    <b-modal id="saveErrorModal" title="Save error">
      <p class="my-4">Add blocks, fill them with available answers and select correct.</p>
    </b-modal>
  </div>
</template>

<script>
import draggable from "vuedraggable";
import datePicker from "vue-bootstrap-datetimepicker";
import "pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css";
import clickOutside from "vue-click-outside";
import * as $ from "jquery";
import moment from "moment";

import SingleChoice from "./blocks/basic/SingleChoice.vue";
import MultipleChoice from "./blocks/basic/MultipleChoice.vue";
import Scales from "./blocks/musical/Scales.vue";
import Intervals from "./blocks/musical/Intervals.vue";
import Spinner from "./spinners/Spinner.vue";

export default {
  name: "EditForm",
  components: {
    SingleChoice,
    MultipleChoice,
    Scales,
    Intervals,
    draggable,
    datePicker,
    Spinner
  },
  directives: { clickOutside },
  data() {
    return {
      id: "",
      form: {},
      updatedForm: {},
      showPanel: false,
      availBlocks: [
        { ContentBlockId: 1 },
        { ContentBlockId: 2 },
        { ContentBlockId: 3 },
        { ContentBlockId: 4 }
      ],
      availableBlocks: [],
      blocksInPanelOptions: {
        group: {
          name: "blocks",
          pull: "clone",
          put: false
        },
        ghostClass: "ghost"
      },
      blocksInFormOptions: {
        group: {
          name: "blocks"
        },
        ghostClass: "ghost",
        animation: 500,
        handle: ".block-move-handle"
      },
      datePickerOptions: {
        locale: "en-gb",
        extraFormats: ["YYYY-MM-DDTHH:mm:ss", "YYYY-MM-DDTHH:mm:ssZ"],
        showClear: true,
        minDate: new Date(),
        icons: {
          time: "far fa-clock",
          date: "far fa-calendar",
          up: "fas fa-arrow-up",
          down: "fas fa-arrow-down",
          previous: "fas fa-chevron-left",
          next: "fas fa-chevron-right",
          today: "fas fa-calendar-check",
          clear: "far fa-trash-alt",
          close: "far fa-times-circle"
        }
      },
      loading: true
    };
  },
  created() {
    this.availableBlocks = this.availBlocks;

    this.id = this.$route.params.id;
    this.$http.get("forms/" + this.id).then(res => {
      this.form = res.data;
      this.loading = false;
    });

    this.$bus.$on("questionChange", this.updateForm);
  },
  methods: {
    splitBySemicolon(string) {
      return string ? string.split(";") : null;
    },
    updateForm(value) {
      let question = this.form.Questions[value.questionNo];

      value.availableAnswers && value.availableAnswers.constructor === Array
        ? (question.AvailableAnswers = value.availableAnswers.join(";"))
        : (question.AvailableAnswers = value.availableAnswers);

      question.QuestionText = value.question;

      value.correctAnswer && value.correctAnswer.constructor === Array
        ? (question.CorrectAnswer = value.correctAnswer.join(";"))
        : (question.CorrectAnswer = value.correctAnswer);
    },
    onClone(value) {
      let block = value;
      block.Id = this.form.Questions.length + 1;
      this.availableBlocks = this.availBlocks;

      return block;
    },
    removeBlock(index) {
      this.form.Questions.splice(index, 1);
    },
    hidePanel(event) {
      let el = $("div.btn.action-button.settings")[0];
      if (event.path.indexOf(el) < 0) this.showPanel = false;
    },
    save() {
      if (
        this.form.Questions.length &&
        this.form.Questions.every(q => q.AvailableAnswers && q.CorrectAnswer)
      )
        this.$http
          .post("saveForm", this.form)
          .then(res => this.$router.push("/forms"));
      else this.$bvModal.show("saveErrorModal");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/index.scss";
@import url("https://fonts.googleapis.com/css?family=Lato");

.flex-layout {
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  box-sizing: border-box;

  .column {
    height: 100%;
    display: flex;
    flex-direction: column;
    &.left-side {
      width: 7.5rem;
    }
    &.right-side {
      width: 100%;
    }
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 3.5rem;
  bottom: 0;
  background-color: lighten($primary-color, 10%);
  width: 6.5rem;

  small {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 700;
  }

  .blocks-group {
    height: calc(100vh - 14rem);

    .block {
      cursor: move !important;
      color: $primary-text;

      &:hover {
        color: darken(#fff, 10%);
      }
    }
  }

  .action-buttons-group {
    text-align: center;

    .action-button {
      margin: 0.2rem 0;
      padding: 0.5rem 0;
      color: $accent-color;
      cursor: pointer;

      &:hover {
        background-color: $primary-color;

        &.settings svg {
          animation: spin 1s ease;
          @keyframes spin {
            100% {
              transform: rotate(360deg);
            }
          }
        }
        &.save svg {
          animation: bounce 1s ease;
          @keyframes bounce {
            50% {
              transform: translateY(-50%);
            }
            70% {
              transform: translateY(0);
            }
            90% {
              transform: translateY(-25%);
            }
            100% {
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}

.modal {
  .modal-dialog {
    margin: 0 0 auto auto !important;
    height: 100%;

    .modal-content {
      height: 100%;
    }
  }
}

#settingsPanel {
  position: fixed;
  top: 3.5rem;
  bottom: 0;
  right: -30rem;
  width: 30rem;
  transition: right 1s ease;
  background-color: $lightgray;
  border: solid 1px $divider-color;
  z-index: 100;

  &.show {
    right: 0;
  }

  h3 {
    border-bottom: solid 1px $divider-color;
    margin-bottom: 1.5rem;
  }
}

.ghost {
  opacity: 0.5;
  background-color: darken($lightgray, 10%);
  transition: opacity 1s, background-color 1s;
  border-radius: 3px;
}

.form {
  background-color: $lightgray;
  min-height: calc(100vh - 3.5rem);
  padding: 2rem 0;

  .container {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid $primary-color;
  }

  h3 {
    border-bottom: solid 1px $divider-color;
  }

  .blocks {
    min-height: 2rem;

    .block {
      position: relative;

      .block-options {
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s ease;
        width: 2rem;
        left: calc(-3rem + 1px);

        div.btn {
          width: 2.5rem;
          height: 2.5rem;
          background: #fff;
          color: $primary-text;
          border: $divider-color 2px solid;
          border-radius: 50%;
          text-align: center;
          margin-bottom: 0.1rem;

          &:hover {
            color: $primary-text;
            background: darken(#fff, 10%);
          }

          &.block-move-handle {
            cursor: move;
          }

          &.block-remove {
            cursor: pointer;
            padding-left: 9px;
          }
        }
      }

      &:hover {
        .block-options {
          opacity: 1;
        }
      }
    }
  }
}
</style>
