<template>
  <div>
    <Spinner v-if="loading"/>
    <Placeholder v-else-if="!filteredForms.length" message="No forms" icon="file" class="m-4"/>
    <b-list-group v-else>
      <!-- Available -->
      <b-list-group-item
        v-for="form in filteredForms"
        v-if="form.isAvailable"
        :key="form.Id"
        class="mb-2"
      >
        <div class="row align-items-center">
          <div class="col-sm-1 form-type d-flex">
            <icon v-if="form.FormTypeId == 1" name="check-circle" scale="2" class="survey"></icon>
            <icon v-if="form.FormTypeId == 2" name="question-circle" scale="2" class="quiz"></icon>
          </div>
          <h5 class="title mb-0 col-sm-2">{{form.Title}}</h5>
          <div class="col-sm-3">
            <small
              v-if="form.AvailableFrom"
              class="text-muted date"
            >Available from: {{form.AvailableFrom | formatDate}}</small>
          </div>
          <div class="col-sm-3">
            <small
              v-if="form.AvailableTo"
              class="text-muted date"
            >Until: {{form.AvailableTo | formatDate}}</small>
          </div>
          <div class="col-sm-3 text-right">
            <div v-if="permission === 3">
              <b-button
                @click="displayForm(form)"
                size="sm"
                variant="primary"
                v-if="!form.IsSubmitted"
              >
                <b>Fill the form</b>
              </b-button>
              <b v-else class="d-flex align-items-center justify-content-end">
                <icon name="check" scale="1.5" class="text-success"></icon>&nbsp;Submitted
              </b>
            </div>
            <div v-else>
              <b-button @click="displayForm(form)" size="sm" variant="primary">Display</b-button>
              <b-button @click="editForm(form.Id)" size="sm" variant="secondary">
                <icon name="pencil"></icon>
              </b-button>
              <b-button @click="deleteForm(form.Id)" size="sm" variant="danger">
                <icon name="times"></icon>
              </b-button>
            </div>
          </div>
        </div>
      </b-list-group-item>
      <!-- Unavailable -->
      <b-list-group-item
        v-for="form in filteredForms"
        v-if="!form.isAvailable"
        :key="form.Id"
        class="mb-2 unavailable"
      >
        <div class="row align-items-center">
          <div class="col-sm-1 form-type d-flex">
            <icon v-if="form.FormTypeId == 1" name="check-circle" scale="2" class="survey"></icon>
            <icon v-if="form.FormTypeId == 2" name="question-circle" scale="2" class="quiz"></icon>
          </div>
          <h5 class="title mb-0 col-sm-2">{{form.Title}}</h5>
          <div class="col-sm-3">
            <small>Available from:</small>
            {{form.AvailableFrom | formatDate}}
          </div>
          <div class="col-sm-3">
            <small>Available to:</small>
            {{form.AvailableTo | formatDate}}
          </div>
          <div class="col-sm-3 text-right">
            <b v-if="form.IsSubmitted" class="d-flex align-items-center justify-content-end">
              <icon name="check" scale="1.5" class="text-success"></icon>&nbsp;Submitted
            </b>
            <b-button
              v-if="permission < 3"
              @click="editForm(form.Id)"
              size="sm"
              variant="secondary"
            >
              <icon name="pencil"></icon>
            </b-button>
            <b-button v-if="permission < 3" @click="deleteForm(form.Id)" size="sm" variant="danger">
              <icon name="times"></icon>
            </b-button>
          </div>
        </div>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
import Placeholder from "./placeholders/Placeholder.vue";
import Spinner from "./spinners/Spinner.vue";

export default {
  name: "FormGrid",
  components: { Placeholder, Spinner },
  props: {
    groupId: String,
    searchValue: String
  },
  data() {
    return {
      forms: null,
      filteredForms: null,
      formTypesImages: [
        {
          image: require("../assets/quiz.jpg"),
          type: "quiz"
        },
        {
          image: require("../assets/survey.jpg"),
          type: "survey"
        }
      ],
      formTypeOptions: [
        { text: "Quiz", value: 1 },
        { text: "Survey", value: 2 }
      ],
      permission: null,
      loading: true
    };
  },
  created() {
    this.permission = window.user.PermissionId;
    this.userId = window.user.Id;
    this.getForms();
  },
  watch: {
    searchValue(val) {
      this.filteredForms = this.filterForms(val);
    }
  },
  methods: {
    getForms() {
      this.$http
        .get(`/formsByGroup?groupId=${this.groupId}&userId=${this.userId}`)
        .then(res => {
          this.forms = res.data.map(f =>
            Object.assign(f, { isAvailable: this.isFormAvailable(f) })
          );
          this.filteredForms = this.filterForms();
          this.loading = false;
        });
    },
    filterForms(val) {
      const searchRegex = new RegExp(val, "i");
      return this.forms.filter(form => !val || searchRegex.test(form.Title));
    },
    isFormAvailable(form) {
      var dateNow = new Date().toJSON().slice(0, 16);
      var dateFrom = form.AvailableFrom
        ? new Date(form.AvailableFrom).toJSON().slice(0, 16)
        : dateNow;
      var dateTo = form.AvailableTo
        ? new Date(form.AvailableTo).toJSON().slice(0, 16)
        : dateNow;

      if (dateFrom <= dateNow && dateTo >= dateNow) {
        return true;
      }
      return false;
    },
    displayForm(form) {
      if (!this.isFormAvailable(form)) return;

      this.$router.push("/display/" + form.Id);
    },
    editForm(id) {
      if (this.permission >= 3) return;
      this.$router.push("/edit/" + id);
    },
    deleteForm(id) {
      if (this.permission >= 3) return;
      this.$http.delete("forms/" + id).then(() => this.getForms());
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/index.scss";

.list-group-item {
  border-radius: 3px;

  .form-type {
    .fa-icon {
      &.quiz {
        color: $blue;
      }
      &.survey {
        color: $red;
      }
    }
  }

  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.unavailable {
  background-color: $gray;

  img {
    opacity: 0.5;
  }

  .text-muted {
    font-size: 0.8rem;
  }
}
</style>
