<template>
  <div>
    <Spinner v-if="loading"/>
    <Placeholder v-else-if="!filteredForms.length" message="No forms" icon="file" class="m-4"/>
    <b-card-group deck v-else>
      <!-- Available -->
      <b-card
        no-body
        v-for="form in filteredForms"
        v-if="form.isAvailable"
        :key="form.Id"
        class="mb-2"
      >
        <b-card-img
          class="card-img"
          src
          :style="{ 'background-image': 'url(' + formTypesImages[form.FormTypeId -1].image + ')' }"
          top
        />

        <b-card-body>
          <h4 class="card-title">{{form.Title}}</h4>
          <p class="card-text text-muted">{{form.FormTypeId | formTypeIdName}}</p>
          <div v-if="permission === 3">
            <b-button
              v-if="!form.IsSubmitted"
              @click="displayForm(form)"
              variant="primary"
            >Fill the form</b-button>
            <b v-else class="d-flex align-items-center">
              <icon name="check" scale="2" class="text-success"></icon>&nbsp;Submitted
            </b>
          </div>
          <div v-else>
            <b-button @click="displayForm(form)" variant="primary">Display</b-button>
            <b-button @click="editForm(form.Id)" variant="secondary">
              <icon name="pencil"></icon>
            </b-button>
            <b-button @click="deleteForm(form.Id)" variant="danger">
              <icon name="times"></icon>
            </b-button>
          </div>
        </b-card-body>

        <b-card-footer>
          <div
            class="text-muted date"
            v-if="form.AvailableFrom"
          >Available from: {{form.AvailableFrom | formatDate}}</div>
          <div
            class="text-muted date"
            v-if="form.AvailableTo"
          >Available to: {{form.AvailableTo | formatDate}}</div>
          <div class="text-muted">Created by: {{form.User.FirstName + ' ' + form.User.LastName}}</div>
        </b-card-footer>
      </b-card>
      <!-- Unavailable -->
      <b-card
        no-body
        v-for="form in filteredForms"
        v-if="!form.isAvailable"
        :key="form.Id"
        class="mb-2 unavailable"
      >
        <b-card-img
          class="card-img"
          src
          :style="{ 'background-image': 'url(' + formTypesImages[form.FormTypeId -1].image + ')' }"
          top
        />

        <b-card-body>
          <h4 class="card-title">{{form.Title}}</h4>
          <p class="card-text text-muted">{{formTypeOptions[form.FormTypeId - 1].text}}</p>
          <b v-if="form.IsSubmitted" class="mb-2 d-flex align-items-center">
            <icon name="check" scale="2" class="text-success"></icon>&nbsp;Submitted
          </b>
          <b-row>
            <small class="col-sm-5">Available from:</small>
            <b-col sm="7">{{form.AvailableFrom | formatDate}}</b-col>
          </b-row>
          <b-row>
            <small class="col-sm-5">Available to:</small>
            <b-col sm="7">{{form.AvailableTo | formatDate}}</b-col>
          </b-row>
          <div v-if="permission < 3">
            <b-button @click="editForm(form.Id)" variant="secondary" class="mt-2">
              <icon name="pencil"></icon>
            </b-button>
            <b-button @click="deleteForm(form.Id)" class="mt-2" variant="danger">
              <icon name="times"></icon>
            </b-button>
          </div>
        </b-card-body>

        <b-card-footer>
          <div class="text-muted">Created by: {{form.User.FirstName + ' ' + form.User.LastName}}</div>
        </b-card-footer>
      </b-card>
    </b-card-group>
  </div>
</template>

<script>
import Placeholder from "./placeholders/Placeholder.vue";
import Spinner from "./spinners/Spinner.vue";

export default {
  name: "FormGrid",
  components: { Placeholder, Spinner },
  props: {
    groupId: String,
    searchValue: String
  },
  data() {
    return {
      forms: null,
      filteredForms: null,
      formTypesImages: [
        {
          image: require("../assets/quiz.jpg"),
          type: "quiz"
        },
        {
          image: require("../assets/survey.jpg"),
          type: "survey"
        }
      ],
      formTypeOptions: [
        { text: "Quiz", value: 1 },
        { text: "Survey", value: 2 }
      ],
      permission: null,
      loading: true
    };
  },
  created() {
    this.permission = window.user.PermissionId;
    this.userId = window.user.Id;
    this.getForms();
  },
  watch: {
    searchValue(val) {
      this.filteredForms = this.filterForms(val);
    }
  },
  methods: {
    getForms() {
      this.$http
        .get(`/formsByGroup?groupId=${this.groupId}&userId=${this.userId}`)
        .then(res => {
          this.forms = res.data.map(f =>
            Object.assign(f, { isAvailable: this.isFormAvailable(f) })
          );
          this.filteredForms = this.filterForms();
          this.loading = false;
        });
    },
    filterForms(val) {
      const searchRegex = new RegExp(val, "i");
      return this.forms.filter(form => !val || searchRegex.test(form.Title));
    },
    isFormAvailable(form) {
      var dateNow = new Date().toJSON().slice(0, 16);
      var dateFrom = form.AvailableFrom
        ? new Date(form.AvailableFrom).toJSON().slice(0, 16)
        : dateNow;
      var dateTo = form.AvailableTo
        ? new Date(form.AvailableTo).toJSON().slice(0, 16)
        : dateNow;

      if (dateFrom <= dateNow && dateTo >= dateNow) {
        return true;
      }
      return false;
    },
    displayForm(form) {
      if (!this.isFormAvailable(form)) return;

      this.$router.push("/display/" + form.Id);
    },
    editForm(id) {
      if (this.permission >= 3) return;
      this.$router.push("/edit/" + id);
    },
    deleteForm(id) {
      if (this.permission >= 3) return;
      this.$http.delete("forms/" + id).then(() => this.getForms());
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/index.scss";

.card {
  min-width: 15rem;
  max-width: 20rem;

  .card-img {
    height: 10rem;
    background-position: center;
    background-size: cover;
  }

  .card-footer {
    .text-muted {
      font-size: 0.8rem;
    }
  }
}

.unavailable {
  background-color: $gray;

  img {
    opacity: 0.5;
  }

  .card-footer {
    .text-muted {
      font-size: 0.8rem;
    }
  }
}
</style>
