<template>
  <div>
    <div class="search">
      <div class="container">
        <b-input-group class="col-md-6 py-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <icon name="search"/>
            </span>
          </div>
          <b-input v-debounce:500ms="search" type="text" placeholder="Search for forms"/>
        </b-input-group>
      </div>
    </div>
    <Spinner v-if="loading"/>
    <Placeholder v-else-if="!groups.length" message="No groups" icon="th-list" class="m-4"/>
    <div v-else v-for="(group, index) in groups" :key="group.Id">
      <div class="group">
        <h4 class="mb-0">{{group.Name}}</h4>
        <div>
          <b-button
            size="sm"
            variant="primary"
            @click="changeLayout(index, true)"
            v-b-tooltip.hover="'Grid view'"
          >
            <icon name="th-large"></icon>
          </b-button>
          <b-button
            size="sm"
            variant="primary"
            @click="changeLayout(index, false)"
            v-b-tooltip.hover="'List view'"
          >
            <icon name="list"></icon>
          </b-button>
        </div>
      </div>
      <b-container>
        <!-- Grid view -->
        <FormGrid
          v-if="groupGridLayout[index].grid"
          :groupId="group.Id"
          :searchValue="searchValue"
          class="mt-4 mb-4"
        />
        <!-- List view -->
        <FormList
          v-if="!groupGridLayout[index].grid"
          :groupId="group.Id"
          :searchValue="searchValue"
          class="mt-4 mb-4"
        />
      </b-container>
    </div>
    <b-button
      v-if="permission < 3"
      class="add-button"
      v-b-modal.createFormModal
      v-b-tooltip.hover="'New form'"
      variant="primary"
    >
      <icon name="plus" scale="2"></icon>
    </b-button>
    <b-modal id="createFormModal" title="Create new form" @ok="createForm">
      <b-form @submit="createForm">
        <b-form-group label="Form name:">
          <b-form-input v-model="formTitle" type="text" placeholder="Enter form title" required></b-form-input>
        </b-form-group>
        <b-form-group label="Form type:">
          <b-form-radio-group v-model="formTypeId" :options="formTypeOptions" stacked required></b-form-radio-group>
        </b-form-group>
        <b-form-group label="Group:">
          <b-form-select v-model="selectedGroup" :options="availableGroups" required/>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import FormGrid from "./FormGrid.vue";
import FormList from "./FormList.vue";
import Placeholder from "./placeholders/Placeholder.vue";
import Spinner from "./spinners/Spinner.vue";

export default {
  name: "Forms",
  components: {
    FormGrid,
    FormList,
    Placeholder,
    Spinner
  },
  data() {
    return {
      searchValue: "",
      groups: null,
      loading: true,
      availableGroups: [{ value: null, text: "Groups" }],
      selectedGroup: null,
      formTitle: null,
      formTypeId: "",
      formTypeOptions: [
        { text: "Quiz", value: 1 },
        { text: "Survey", value: 2 }
      ],
      permission: null,
      groupGridLayout: []
    };
  },
  created() {
    this.permission = window.user.PermissionId;
    this.$http.get("groupsByUserId?id=" + window.user.Id).then(res => {
      this.groups = res.data;
      this.loading = false;
      for (let i = 0; i < this.groups.length; i++) {
        let group = this.groups[i];
        this.groupGridLayout.push({ groupId: group.Id, grid: true });
        this.availableGroups.push({ value: group.Id, text: group.Name });
      }
    });
  },
  methods: {
    search(value) {
      this.searchValue = value;
    },
    changeLayout(index, ifGrid) {
      this.groupGridLayout[index].grid = ifGrid;
    },
    createForm(event) {
      if (event) event.preventDefault();
      if (this.permission >= 3) return;
      this.$http
        .post("createForm", {
          formTitle: this.formTitle,
          formTypeId: this.formTypeId,
          userId: window.user.Id,
          groupId: this.selectedGroup
        })
        .then(res => {
          this.$router.push("/edit/" + res.data.Id);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/index.scss";

.search {
  background-color: lighten($primary-color, 10%);
  .input-group {
    margin: auto;
  }
}

.group {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: $gray;
  border-top: 1px $divider-color solid;

  p {
    margin: 0;
  }

  .btn {
    .fa-icon {
      vertical-align: text-bottom;
    }
  }
}

.add-button {
  position: fixed;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  left: 2rem;
  bottom: 2rem;
}

.unavailable {
  background-color: $gray;
  img {
    opacity: 0.5;
  }

  .text-muted {
    font-size: 0.8rem;
  }
}
</style>
