<template>
  <div class="form">
    <div class="container col-sm-9 col-lg-6 my-3 p-5">
      <Spinner v-if="loading"/>
      <div v-else>
        <h3>{{form.Title}}</h3>
        <div class="mb-3" v-for="question in form.Questions" :key="question.OrderNumber">
          <h4>{{question.OrderNumber}}. {{question.QuestionText}}</h4>
          <PieChart :chartdata="getQuestionStats(question)" class="chart" :key="question.Id"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PieChart from "./charts/PieChart.vue";
import Spinner from "./spinners/Spinner.vue";

export default {
  name: "FormStats",
  components: { PieChart, Spinner },
  data() {
    return {
      permission: null,
      form: {},
      chartData: {
        labels: [],
        datasets: []
      },
      loading: true
    };
  },
  created() {
    this.permission = window.user.PermissionId;
    this.id = this.$route.params.id;
    this.$http.get("formStats/" + this.id).then(res => {
      this.form = res.data;
      this.loading = false;
    });
  },
  methods: {
    getQuestionStats(question) {
      const data = [];
      let availableAnswers = question.AvailableAnswers.split(";");

      // Intervals
      if (question.ContentBlockId == 20004)
        availableAnswers = ["first", "second"];

      for (const answer of availableAnswers) {
        const sameAnswer = this.form.Answers.filter(
          a => a.QuestionId === question.Id && a.GivenAnswer == answer
        );
        data.push(sameAnswer.length);
      }

      return { labels: availableAnswers, datasets: [{ data }] };
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/index.scss";

.form {
  background-color: $lightgray;
  min-height: calc(100vh - 3.5rem);
  padding: 2rem 0;

  .container {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid $primary-color;

    h3 {
      border-bottom: solid 1px $divider-color;
      margin-bottom: 1.5rem;
    }

    .chart {
      height: 10rem;
    }
  }
}
</style>
