<template>
  <div class="container mt-3">
    <h3>Groups</h3>
    <Spinner v-if="loading"/>
    <Placeholder v-else-if="!groups.length" message="No groups" icon="th-list"/>
    <b-table outlined hover :items="groups" :fields="fields" v-else>
      <template
        slot="Teacher"
        slot-scope="data"
      >{{ data.value[0].FirstName }} {{ data.value[0].LastName }}</template>
      <template slot="action" slot-scope="data">
        <b-button
          variant="primary"
          class="action-button"
          size="sm"
          @click="goToGroup(data.item.Id)"
        >
          <icon name="sign-in" scale="1.2"></icon>&nbsp;Enter
        </b-button>
        <b-button
          variant="danger"
          class="action-button"
          size="sm"
          @click="deleteGroup(data.item.Id)"
          v-if="permission < 3"
        >
          <icon name="times" scale="1.2"></icon>&nbsp;Delete
        </b-button>
      </template>
    </b-table>
    <b-button v-if="permission < 3" class="add-button" v-b-modal.createGroupModal variant="primary">
      <icon name="plus" scale="2"></icon>
    </b-button>
    <b-modal id="createGroupModal" title="Add new group" @ok="createGroup">
      <b-form-group label="Group name:">
        <b-form-input v-model="groupName" type="text" placeholder="Enter group name" required></b-form-input>
      </b-form-group>
    </b-modal>
  </div>
</template>

<script>
import Placeholder from "./placeholders/Placeholder.vue";
import Spinner from "./spinners/Spinner.vue";

export default {
  name: "Groups",
  components: {
    Placeholder,
    Spinner
  },
  data() {
    return {
      groups: null,
      groupName: "",
      fields: [
        {
          key: "Name",
          sortable: true
        },
        {
          key: "Forms",
          sortable: true
        },
        {
          key: "Members",
          sortable: true
        },
        {
          key: "Teacher",
          sortable: true
        },
        {
          key: "action"
        }
      ],
      permission: null,
      loading: true
    };
  },
  created() {
    this.permission = window.user.PermissionId;
    this.loadGroups();
  },
  methods: {
    loadGroups() {
      this.$http.get("/groupsByUserId?id=" + window.user.Id).then(res => {
        this.groups = res.data;
        this.loading = false;
      });
    },
    createGroup() {
      if (this.permission >= 3) return;
      this.$http
        .post("/groups", {
          name: this.groupName,
          teacherId: window.user.Id
        })
        .then(() => this.loadGroups());
    },
    goToGroup(id) {
      this.$router.push("/groups/" + id);
    },
    deleteGroup(id) {
      if (this.permission >= 3) return;
      this.$http.delete("/groups/" + id).then(() => this.loadGroups());
    }
  }
};
</script>

<style lang="scss" scoped>
.add-button {
  position: fixed;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  left: 2rem;
  bottom: 2rem;
}

.action-button {
  display: inline-flex;
  align-items: center;
}
</style>