<template>
  <div class="mt-4">
    <b-carousel id="carousel" controls indicators fade background="#ababab" :interval="4000">
      <b-carousel-slide v-for="(slide, index) in carouselSlides" :key="index">
        <div slot="img" class="image" :style="{ 'background-image': 'url(' + slide.icon + ')' }"></div>
        <h1>{{slide.text}}</h1>
      </b-carousel-slide>
    </b-carousel>

    <div class="mt-4 text-center">
      <b-button variant="primary" size="lg" @click="goToForms()">Create your own music form!</b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      carouselSlides: [
        {
          icon: require("../assets/home1.jpg"),
          text: "Online exams for musical education"
        },
        {
          icon: require("../assets/home2.jpg"),
          text: "Intuitive creating process of forms"
        },
        {
          icon: require("../assets/home3.jpg"),
          text: "Ready to use"
        }
      ],
    };
  },
  methods: {
    goToForms() {
      this.$router.push("login");
    }
  }
};
</script>

<style lang="scss" scoped>
#carousel {
  margin: -1.5rem 0 0.5rem;
  text-shadow: 1px 1px 2px #333;
  position: relative;
  box-shadow: 0 1px 1rem #00000080;

  .image {
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -8rem 8rem -2rem rgba(0, 0, 0, 0.3)
  }
}
</style>
