<template>
  <div class="container mt-5 p-4 col-lg-5 mx-auto">
    <h3>Login</h3>
    <b-form @submit="onSubmit">
      <b-form-group label="Email address:">
        <b-form-input v-model="email" required placeholder="Enter email"></b-form-input>
      </b-form-group>
      <b-form-group label="Password:">
        <b-form-input type="password" v-model="password" required placeholder="Enter password"></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    onSubmit(e) {
      e.preventDefault();
      this.$Progress.start();

      this.login();
    },
    async login() {
      try {
        const token = await this.getToken();
        localStorage.setItem("token", token.access_token);
        localStorage.setItem("tokenExpiresIn", token.expires_in);

        const user = await this.$http
          .get("user?email=" + this.email)
          .then(res => res.data);

        if (user && token) {
          window.user = user;
          this.$bus.$emit("user", user);
          this.$Progress.finish();
          this.$router.push("forms");
        }
      } catch (error) {
        console.error(error);
        this.$bus.$emit("error", error.response.data.error_description);
        this.$Progress.fail();
      }
    },
    getToken() {
      const data =
        "username=" +
        this.email +
        "&password=" +
        this.password +
        "&grant_type=password";

      return axios
        .post("https://musicformsapi.azurewebsites.net/token", data)
        // .post("http://localhost:51134/token", data)
        .then(res => res.data);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../styles/index.scss";

.container {
  background-color: $lightgray;
  border-radius: 3px;
}
</style>
