<template>
  <div class="profile">
    <div class="profile-header" :style="{ 'background-image': 'url(' + backgroundImg + ')' }">
      <div class="user-info">
        <Spinner v-if="loading"/>
        <div v-else class="row">
          <div class="col-lg-2 col-md-3 col-sm-12">
            <Avatar :permissionId="`${user.Permission.Id}`" size="8"/>
          </div>
          <div class="col-lg-10 col-md-9 col-sm-12 name">
            <h3>{{user.FirstName}} {{user.LastName}}</h3>
            <h4>{{user.Permission.Name}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <Spinner v-if="loading"/>
      <div v-else>
        <section class="stats">
          <div v-if="user.Permission.Id === 3">
            <b-row>
              <b-col>
                <div class="stat">
                  <icon name="list-ol" scale="2"></icon>
                  <p>Given answers:</p>
                  <h4>{{givenAnswers}}</h4>
                </div>
              </b-col>
              <b-col>
                <div class="stat">
                  <icon name="check-circle" scale="2"></icon>
                  <p>Correct answers:</p>
                  <h4>{{correctAnswers}}</h4>
                </div>
              </b-col>
              <b-col>
                <div class="stat">
                  <icon name="paper-plane" scale="2"></icon>
                  <p>Submitted quizzes:</p>
                  <h4>{{submittedFormsIds.length}}</h4>
                </div>
              </b-col>
            </b-row>
          </div>
          <div v-else>
            <b-row>
              <b-col>
                <div class="stat">
                  <icon name="plus-circle" scale="2"></icon>
                  <p>Created quizzes:</p>
                  <h4>{{forms.length}}</h4>
                </div>
              </b-col>
            </b-row>
          </div>
        </section>
        <section class="statistics" v-if="user.Permission.Id !== 1">
          <h3
            v-if="user.Permission.Id === 2"
          >Percentage of correct answers given by students in quizzes</h3>
          <h3 v-else>Percentage of correct answers given by you in quizzes</h3>
          <BarChart :chartdata="chartData" class="chart"/>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import BarChart from "./charts/BarChart.vue";
import Spinner from "./spinners/Spinner.vue";
import Avatar from "./Avatar.vue";

export default {
  name: "Profile",
  components: { BarChart, Spinner, Avatar },
  data() {
    return {
      id: "",
      backgroundImg: require("../assets/profile.jpg"),
      user: {
        Permission: {
          Name: ""
        }
      },
      forms: [],
      givenAnswers: 0,
      correctAnswers: 0,
      submittedFormsIds: [],
      chartData: {
        labels: [],
        datasets: []
      },
      loading: true
    };
  },
  watch: {
    $route(to, from) {
      if (to.params.id !== from.params.id) {
        this.getData();
      }
    }
  },
  created() {
    this.getData();
  },
  methods: {
    getData() {
      this.id = this.$route.params.id;
      const user = this.$http.get("users/" + this.id).then(res => {
        this.user = res.data;
        this.countCorrectAnswers();
      });

      const stats = this.$http
        .get("userProfileStatistics/" + this.id)
        .then(res => {
          this.forms = res.data.sort((a, b) => {
            if (a.SubmitFormDate < b.SubmitFormDate) return -1;
            if (a.SubmitFormDate > b.SubmitFormDate) return 1;
          });

          const formNames = this.forms.map(f => f.FormName);
          const percents = this.forms.map(f => f.Percent);

          this.chartData = {
            labels: formNames,
            datasets: [
              {
                label: "% of correct answers",
                data: percents,
                pointBackgroundColor: "white",
                borderWidth: 1,
                pointBorderColor: "white"
              }
            ]
          };
        });

      Promise.all([user, stats]).then(() => {
        this.loading = false;
      });
    },
    countCorrectAnswers() {
      const answers = this.user.Answers;
      this.givenAnswers = answers.length;
      this.correctAnswers = answers.filter(a => a.IsCorrect).length;
      this.submittedFormsIds = answers
        .map(a => a.FormId)
        .filter((a, i, arr) => arr.indexOf(a) === i);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/index.scss";

.profile {
  border-radius: 0 0 3px 3px;

  .profile-header {
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3px 3px 0 0;
    box-shadow: inset 0px -60px 100px #222;
    position: relative;

    .user-info {
      position: absolute;
      left: 10%;
      right: 10%;
      bottom: 2rem;

      .name {
        padding-top: 2rem;
        color: #fff;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .user-info {
      .user-avatar {
        text-align: center;
        .avatar {
          height: 6rem;
          width: 6rem;
        }
      }
      .name {
        padding-top: 1rem;
        text-align: center;
      }
    }
  }

  .stats {
    .stat {
      border: solid 1px $gray;
      border-radius: 3px;
      padding: 1rem;
      margin: 1rem;
      text-align: center;

      p {
        margin: 0.5rem 0 1rem 0;
      }

      svg {
        color: $accent-color;
      }
    }
  }

  section {
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid $divider-color;
    &:last-of-type {
      border-bottom: 0;
    }

    &.statistics {
      text-align: center;
      h3 {
        margin-bottom: 1rem;
      }
    }
  }

  .chart {
    background-color: lighten($primary-color, 10%);
    border-radius: 1rem;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  }
}
</style>
