<template>
  <div class="container mt-5 p-4 col-lg-5 mx-auto">
    <h3>Register</h3>
    <b-form @submit="onSubmit">
      <b-form-group label="First name:">
        <b-form-input v-model="firstname" required placeholder="Enter first name"></b-form-input>
      </b-form-group>
      <b-form-group label="Last name:">
        <b-form-input v-model="lastname" required placeholder="Enter last name"></b-form-input>
      </b-form-group>
      <b-form-group label="Email address:">
        <b-form-input v-model="email" required placeholder="Enter email"></b-form-input>
      </b-form-group>
      <b-form-group label="Password:">
        <b-form-input type="password" v-model="password" required placeholder="Enter password"></b-form-input>
      </b-form-group>
      <b-form-group label="My role:">
        <b-form-radio-group v-model="selectedRole" :options="roleOptions" required></b-form-radio-group>
      </b-form-group>
      <b-form-group label="Group id:" v-if="selectedRole===3">
        <b-form-input v-model="groupId" placeholder="Enter group id"></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Register",
  data() {
    return {
      firstname: "",
      lastname: "",
      email: "",
      password: "",
      roleOptions: [
        { text: "Teacher", value: 2 },
        { text: "Student", value: 3 }
      ],
      selectedRole: "",
      groupId: ""
    };
  },
  methods: {
    onSubmit(e) {
      e.preventDefault();
      this.$Progress.start();

      const userData = {
        firstname: this.firstname,
        lastname: this.lastname,
        email: this.email,
        password: this.password,
        permissionId: this.selectedRole,
        groupId: this.groupId
      };

      this.register(userData);
    },
    async register(userData) {
      try {
        const user = await this.$http
          .post("register", userData)
          .then(res => res.data);

        const token = await this.getToken(userData);
        localStorage.setItem("token", token.access_token);
        localStorage.setItem("tokenExpiresIn", token.expires_in);

        if (user && token) {
          window.user = user;
          this.$bus.$emit("user", user);
          this.$Progress.finish();
          this.$router.push("forms");
        }
      } catch (error) {
        console.error(error);
        this.$bus.$emit("error", error.response.data.error_description);
        this.$Progress.fail();
      }
    },
    getToken(user) {
      const data =
        "username=" +
        user.email +
        "&password=" +
        user.password +
        "&grant_type=password";

      return axios
        .post("https://musicformsapi.azurewebsites.net/token", data)
        // .post("http://localhost:51134/token", data)
        .then(res => res.data);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../styles/index.scss";

.container {
  background-color: $lightgray;
  border-radius: 3px;
}
</style>
