<template>
  <div class="mt-4">
    <!-- Display -->
    <section v-if="!editable">
      <h4>{{questionNo + 1}}. {{question}}</h4>
      <b-form-checkbox-group v-for="(ans, index) in availableAnswers" :key="index" v-model="answer">
        <b-form-checkbox :value="ans">{{ans}}</b-form-checkbox>
      </b-form-checkbox-group>
    </section>
    <!-- Edit -->
    <section v-if="editable" class="editable">
      <h4>
        {{questionNo + 1}}.
        <span contenteditable="true" v-text="qquestion" @blur="updateQquestion"></span>
      </h4>
      <div class="checkbox-group" v-for="(ans, index) in aavailableAnswers">
        <b-row>
          <b-col cols="11">
            <input
              type="checkbox"
              :value="ans"
              v-model="ccorrectAnswer"
              @change="updateCcorrectAnswer"
            >
            <label :for="ans" contenteditable="true" v-text="ans" @blur="updateAns($event, index)"></label>
          </b-col>
          <b-col cols="1" class="p-0">
            <span class="btn add-delete-btn" @click="deleteAnswer(ans)">
              <icon class="text-danger" name="times" scale="1.5"></icon>
            </span>
          </b-col>
        </b-row>
      </div>
      <b-row class="align-items-center">
        <b-col cols="11">
          <b-form @submit="addNewAnswer">
            <b-form-input v-model="newAnswer" type="text" placeholder="Enter new answer"></b-form-input>
          </b-form>
        </b-col>
        <b-col cols="1" class="p-0">
          <span class="btn add-delete-btn" @click="addNewAnswer()">
            <icon class="text-success" name="plus" scale="1.5"></icon>
          </span>
        </b-col>
      </b-row>
    </section>
  </div>
</template>

<script>
import Vue from "vue";

export default {
  name: "MultipleChoice",
  props: {
    questionNo: Number,
    questionId: Number,
    editable: Boolean,
    question: {
      type: String,
      default: "What is your question?"
    },
    availableAnswers: {
      type: Array
    },
    correctAnswer: { type: Array }
  },
  data() {
    return {
      answer: "",
      que: "",
      newAnswer: "",
      qquestion: this.question,
      aavailableAnswers: this.availableAnswers || [],
      ccorrectAnswer: this.correctAnswer || []
    };
  },
  watch: {
    answer(newValue, oldValue) {
      this.$bus.$emit("qna", {
        questionNo: this.questionNo,
        questionId: this.questionId,
        answer: newValue
      });
    }
  },
  methods: {
    emitChanges() {
      if (this.qquestion && this.aavailableAnswers && this.ccorrectAnswer)
        this.$bus.$emit("questionChange", {
          questionNo: this.questionNo,
          question: this.qquestion,
          availableAnswers: this.aavailableAnswers,
          correctAnswer: this.ccorrectAnswer
        });
    },
    updateQquestion(ev) {
      this.qquestion = ev.target.innerText;
      this.emitChanges();
    },
    updateAns(ev, index) {
      this.aavailableAnswers[index] = ev.target.innerText;
      this.emitChanges();
    },
    updateCcorrectAnswer(ev) {
      //   this.ccorrectAnswer = ev.target.value;
      this.emitChanges();
    },
    deleteAnswer(ans) {
      this.aavailableAnswers.splice(this.aavailableAnswers.indexOf(ans), 1);
      this.emitChanges();
    },
    addNewAnswer(event) {
      if (event) event.preventDefault();
      this.aavailableAnswers.push(this.newAnswer);
      this.emitChanges();
      this.newAnswer = "";
    }
  }
};
</script>

<style lang="scss" scoped>
input[type="radio"],
label {
  cursor: pointer;
}

h4 {
  margin-bottom: 1rem;
}

.editable {
  label {
    cursor: text;
  }

  .add-delete-btn {
    padding: 0;
    display: flex;

    svg {
      margin: auto;
      transition: color 0.15s ease-in-out;
    }

    &:hover {
      svg {
        color: currentColor !important;
      }
    }
  }
}
</style>
