<template>
  <div id="app">
    <vue-progress-bar></vue-progress-bar>
    <b-navbar toggleable="md" type="dark" class="navbar">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand href="/" class="ml-3">
        <img height="30px" src="./assets/logo.png" class="logo pr-3 mr-3">
        MusicForms
      </b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <router-link to="/forms" class="nav-link" v-if="user">Forms</router-link>
          <router-link to="/groups" class="nav-link" v-if="user">Groups</router-link>
          <router-link to="/admin" class="nav-link" v-if="user && user.PermissionId === 1">Admin</router-link>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <router-link to="/login" class="nav-link" v-if="!user">Log in</router-link>
          <router-link to="/register" class="nav-link" v-if="!user">Register</router-link>
          <b-nav-item-dropdown right v-if="user">
            <template slot="button-content">
              <em>{{user.Email}}</em>
            </template>
            <b-dropdown-item @click="goToProfile()">Profile</b-dropdown-item>
            <b-dropdown-item @click="logout()">Log out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <div class="view">
      <router-view/>
    </div>

    <b-modal ref="errorModal" ok-only title="Error">
      <p class="my-4">{{ errorMessage }}</p>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      user: null,
      errorMessage: ""
    };
  },
  created() {
    this.$bus.$on("user", value => {
      this.user = value;
    });
    this.$bus.$on("error", message => {
      this.errorMessage = message;
      this.$refs.errorModal.show();
    });
  },
  methods: {
    goToProfile() {
      this.$router.push("/profile/" + user.Id);
    },
    logout() {
      this.user = null;
      window.user = null;
      localStorage.removeItem("token");
      localStorage.removeItem("tokenExpiresIn");
      this.$router.push("/");
    }
  }
};
</script>

<style lang="scss">
@import "./styles/index.scss";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-text;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  z-index: 999;
  background-color: $primary-color;

  .logo {
    border-right: 1px solid #fff;
  }
}

.view {
  padding-top: 3.5rem;
}
</style>
