<template>
  <div class="placeholder">
    <p class="m-0 d-flex justify-content-center align-items-center">
      <icon :name="icon" scale="1.2" class="mr-2"></icon>
      {{message}}
    </p>
  </div>
</template>

<script>
export default {
  name: "Placeholder",
  props: {
    message: String,
    icon: String
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
@import "../../styles/index.scss";

.placeholder {
  background-color: $lightgray;
  margin: 2rem 0;
  padding: 6rem 0;
  color: darken($lightgray, 30%);
  font-size: 1.2rem;
  border-radius: 3px;
}
</style>
